<div class="choose">
	<h2>Choose your color and continue.</h2>

	<div class="choose-color">
		<div class="field">
			<ul>
				<form>
				<li class="black"></li>
				<li class="color-text"><input type="radio" value="black" name="choose-color"/> Black</li>
				<li class="off-white"></li>
				<li class="color-text"><input type="radio" value="off-white" name="choose-color"/> Off-White</li>
				<li class="white"></li>
				<li class="color-text"><input type="radio" value="white" name="choose-color"/> White</li>
				<li class="taupe"></li>
				<li class="color-text"><input type="radio" value="taupe" name="choose-color"/> Taupe</li>
				</form>
			</ul>

			<input type="submit" value="CONFIRM COLOR" class="choose-submit">

		</div>

	</div>

		<p>
			Installing your new redeblinds is extremely simple. With redeblinds, you simply fit your brackets, determine which way you prefer your blinds to face, snap your blinds into place and fix your child safe chain tidie.
		</p>

	<div class="choose-mobile">
		<div class="field-mobile">
			<ul>
				<form>
				<li class="black-mobile"></li>
				<li class="off-white-mobile"></li>
				<li class="white-mobile"></li>
				<li class="taupe-mobile"></li>
				<form>
			</ul>
			<input type="submit" value="CONFIRM COLOR" class="choose-submit-mobile">
		</div>
	</div>

</div>