<div id="featured">
	<a href="">
	<img src="/assets/outdoorblinds_960x500.jpg" />
	</a>
	<img src="/assets/bedroomblinds_960x500.jpg" />
	<img src="/assets/livingroomblinds_960x500.jpg" />
</div>

<div id="cards">
		<%= link_to "", measure_path, :class => "card1" %>
		<%= link_to "", choose_path, :class => "card2" %>
		<%= link_to "", install_path, :class => "card3" %>
</div>


<div id="cards-mobile">
		<div class="card1-mobile"></div>
		<div class="card2-mobile"></div>
</div>