<div id="featured">
	<a href="">
	<img src="/assets/outdoorblinds_960x500.jpg" />
	</a>
	<img src="/assets/bedroomblinds_960x500.jpg" />
	<img src="/assets/livingroomblinds_960x500.jpg" />
</div>

<div id="cards">
		<div class="card1"></div>
		<div class="card2"></div>
		<div class="card3"></div>
	</div>
</div>