<div class="install">
	<h2>Installing your vertical blinds is extremely simple.<br>
		Watch this short demonstration video.<br>
		Become a DIY expert in minutes.</h2>

	<div class="install-video">
		<iframe width="853" height="480" src="http://www.youtube.com/embed/Sbogm3QMJig" frameborder="0" allowfullscreen></iframe>
	</div>

	<p>Lebowski ipsum your goons'll be able to get it off him, mean he's only fifteen and he's flunking social studies. So if you'll just write me a check for my ten per cent… of half a million… fifty grand. Dolor sit amet, consectetur. Vee vant zat money, Lebowski. Adipiscing elit praesent ac magna justo. They're nihilists. Pellentesque ac lectus quis. Uh-huh. Well, I still jerk off manually. Elit blandit fringilla a ut turpis praesent felis.

	I mean his wife goes out and owes money and they pee on my rug. Ligula, malesuada suscipit malesuada non, ultrices non urna sed orci ipsum. Dude, please!… Is this your homework, Larry? Placerat id condimentum rutrum, rhoncus ac. We want that money, Lebowski. Lorem aliquam placerat posuere neque, at dignissim. Okay. Vee take ze money you haf on you und vee call it eefen. Magna ullamcorper in aliquam sagittis massa ac.
	</p>

</div>