<div class="install">
	<h2>Watch this demonstration video and become a DIY expert in minutes.</h2>

	<div class="install-video">
		<iframe width="853" height="480" src="http://www.youtube.com/embed/Sbogm3QMJig?rel=0" frameborder="2" allowfullscreen></iframe>
	</div>

	<p>
		Installing your new redeblinds is extremely simple. With redeblinds, you simply fit your brackets, determine which way you prefer your blinds to face, snap your blinds into place and fix your child safe chain tidie.
	</p>

	<div class="install-images">
		<ul>
			<li class="install1"></li>
			<li class="install2"></li>
			<li class="install3"></li>
			<li class="install4"></li>
		</ul>
	</div>

</div>